body{
    font-family: 'Roboto Slab', serif;
}
.header1{
    height: 140px;
    background-color: mediumvioletred;
}
.header1 h1{
    margin: 0;
    text-transform: uppercase;
    font-size: 64px;
    color: #FFF;
}
.header1 p{
    color:darkslateblue;
    font-size: 36px;
    font-weight: bold;
    margin: 10px 0;
}
.wrapper{
    margin: 0 auto;
    width: 1024px;
}
/*NAVIGATION*/
#nav{
    background-color: firebrick;
}
#nav ul{
    margin: 0;
    padding-left: 0;
}
#nav ul li{
    display: inline-block;
    padding: 10px 10px 10px 0;
}
#nav ul li a{
    text-decoration: none;
    color: #FFF;
}
#nav ul li a:active,
#nav ul li a:hover{
    font-weight: bolder;
    text-decoration: underline;
    color: navy;
}
/*MAIN*/
#main section{
    margin: 30px 0 0 0;
}
#main img{
    width: 100% ;
    height: auto;
}
/*Première section - index.html*/
.section1_left{
    float: left;
    background-color:thistle;
    width: 60%;
    margin: 0 5% 0 0; 
    min-height: 550px;
}
.section1_left h3{
    text-transform: uppercase;
    font-size: 36px;
    margin: 15px 15px 0 15px;
}
.section1_left h4{
    font-size: 18px;
    margin: 0;
    margin: 0 15px 0 15px;
}
.section1_left h5{
    font-style: italic;
    font-size: 14px;
    margin: 15px 15px 0 15px;
}
.section1_left p{
    margin: 15px;
}
.section1_left a,
.section1_left a:focus,
.section1_left a:visited,
.section1_left a:active{
    color: olive;
    font-style: italic;
    text-decoration: underline;
    margin: 15px 15px 15px 400px;
}
.aside1_right{
    float: left;
    font-weight: bold;
    background-color: white;
    width: 35%;
    margin: 0 0 30px 0;
} 
.aside1_right_top{
    float: left;
    width: 100%;
 } 
.aside1_right_top h2{
    font-size: 24px;
    margin: 15px;
    text-align: center;
 } 
.aside1_right_bottom{
    float: left;
     background-color: saddlebrown;
     width: 100%;
     padding: 0;
 } 
.aside1_right_bottom ul{
    margin: 15px 0 15px 0;
}
.aside1_right_bottom li{
    color: #FFF;
     font-size: 18px;
     list-style: none;
     text-decoration: none;
     text-transform: none;
     padding: 0;
     margin: 0 0 -5px 0;
} 
/*Deuxième section - index.html*/
.clear{clear: left;
}
.section2_article_left1{
    float:left;
    background-color: thistle;
    width: 16%;
    margin: 0 1% 30px 0;
    height: 250px;
}
.section2_article_left2{
    float:left;
    background-color: thistle;
    width: 60%;
    margin: 0 1% 30px 0;
    padding: 15px;
    height: auto;
}
.section2_article_left2 h3{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin: 0;
}
.section2_article_left2 p{
    text-align: justify;
}
.section2_article_right{
    float:left;
    background-color: thistle;
    width: 19%;
    margin: 0 0 30px 0;
    height: 250px;
}
/*pokemon.html*/
#main2{
    width: 100%;
    margin: 30px 0 30px 0;
}
.section2_left{
    float: left;
    width: 30%;
    height: auto;
    margin: 0 1.5% 0 0;
}
.section2_left img{
    width: 80%;
    height: 100%;
    margin: 10px 30px;
}
.section2_right{
    background-color: palegreen;
    float: left;
    width: 68.5%;
    height: 290px;
    margin: 0 0 30px 0;
}
.section2_right h3{
    margin: 15px 15px 0 15px;
    font-size: 36px;
    font-weight: bold;
    float: left;
}
.section2_right h5{
    font-size: 16px;
    font-weight: bold;
    margin: 33px 5px 0 15px;
    float: left;
}
.sous_titre{
    font-size: 16px;
    margin: 33px 15px 0 0;
    float: left;
}
.section2_right h4{
    font-size: 18px;
    margin: 0 15px;
}
.section2_right p{
    margin: 10px 15px 10px 15px;
}
.section2_right b{
    font-weight: bold;
    margin: 0 15px;
}
.section2_right h6{
    font-size: 15px;
    font-weight: bold;
    margin: 15px 0 0 15px;
}
/*FOOTER*/
#footer{
    clear: both;
    height: 100px;
    text-align: center;
    background-color: grey;
}
#footer p{
    margin: 0;
    padding: 40px 0 40px 0;
    font-weight: bold;
    clear: both;
}
.fixed{
    width: 100%;
    background-color: slategray;
position: fixed;
bottom: 0;
}